[Unit]
Description=Lemmy, your friendly neighbourhood Discord bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=will
WorkingDirectory=/opt/lemmy
ExecStart=/usr/bin/pipenv run python lemmy.py

[Install]
WantedBy=multi-user.target
