[Unit]
Description=Lemmy, your friendly neighbourhood Discord bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=unless-stopped
RestartSec=1
User=will
WorkingDirectory=/opt/lemmy
ExecStartPre=/home/will/.local/bin/pipenv install
ExecStart=/home/will/.local/bin/pipenv run python lemmy.py

[Install]
WantedBy=multi-user.target
