[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
googletrans = "*"
emoji = "*"
requests = "*"
"discord.py" = {extras = ["voice"], version = "*"}
Wand = "*"
yt-dlp = "2026.1.19.233146.dev0"

[requires]
python_version = "3.12"
